/*!
 * Author: jesus e.
 * Version: 1.2.10
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(../fonts/opensans/latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background: #111;
  overflow-x: hidden;
}

p {
  line-height: 24px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #007bff;
}
a:hover {
  color: #0091EA;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.hr-author {
  margin: 10px 0;
}

a.link-author {
  color: #fff;
}
a.link-author:hover {
  color: #fff;
}

.style-scope svg {
  width: 0.8rem;
  height: 0.8rem;
  fill: #555;
}

ul {
  padding: 0;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #222;
  border: none;
  margin: 30px 0;
}

h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

summary {
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: .8rem;
}

.button {
  background-color: #0091EA;
  color: #fff;
  padding: 17px 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  border: 2px solid #0091EA;
  float: left;
  border-radius: 999px;
}
.button:hover {
  background-color: #fff;
  color: #0288D1;
  border: 2px solid #0288D1;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.clear {
  clear: both;
}

video {
  width: 100%;
}

/* plyr fix */
.plyr:-moz-full-screen video {
    max-height: initial;
}
.plyr:-webkit-full-screen video {
    max-height: initial;
}
.plyr:-ms-fullscreen video {
    max-height: initial;
}
.plyr:fullscreen video {
    max-height: initial;
}

.plyr video {
    max-height: 480px;
}

/* highlight search */
.highlighted {
  background: #0091EA;
  display: inline-block;
  font-weight: bold;
  padding: 0 6px;
}

/* Code */
code {
  background-color: #282828;
  color: #73d1ed;
}

pre {
  background-color: #282828;
  color: #78dcfa;
  padding: 1rem;
}

/* Colors Code */
.highlight {
  background: #000000;
  color: #cccccc;
}
.highlight pre {
  font-size: 75%;
}
.highlight .hll {
  background-color: #222222;
}
.highlight .c {
  color: #4E4F8E;
}
.highlight .err {
  color: #cccccc;
  border: 1px solid #FF0000;
}
.highlight .esc, .highlight .g {
  color: #cccccc;
}
.highlight .k {
  color: #cdcd00;
}
.highlight .l, .highlight .n {
  color: #cccccc;
}
.highlight .o {
  color: #3399cc;
}
.highlight .x {
  color: #cccccc;
}
.highlight .p {
  color: #fac0ba;
}
.highlight .ch, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1 {
  color: #4E4F8E;
}
.highlight .cs {
  color: #cd0000;
  font-weight: bold;
}
.highlight .gd {
  color: #cd0000;
}
.highlight .ge {
  color: #cccccc;
  font-style: italic;
}
.highlight .gr {
  color: #FF0000;
}
.highlight .gh {
  color: #4E4F8E;
  font-weight: bold;
}
.highlight .gi {
  color: #00cd00;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #4E4F8E;
  font-weight: bold;
}
.highlight .gs {
  color: #cccccc;
  font-weight: bold;
}
.highlight .gu {
  color: #800080;
  font-weight: bold;
}
.highlight .gt {
  color: #0044DD;
}
.highlight .kc {
  color: #cdcd00;
}
.highlight .kd {
  color: #00cd00;
}
.highlight .kn {
  color: #cd00cd;
}
.highlight .kp, .highlight .kr {
  color: #cdcd00;
}
.highlight .kt {
  color: #00cd00;
}
.highlight .ld {
  color: #cccccc;
}
.highlight .m {
  color: #cd00cd;
}
.highlight .s {
  color: #cd0000;
}
.highlight .na {
  color: #cccccc;
}
.highlight .nb {
  color: #cd00cd;
}
.highlight .nc {
  color: #00cdcd;
}
.highlight .no, .highlight .nd, .highlight .ni {
  color: #cccccc;
}
.highlight .ne {
  color: #666699;
  font-weight: bold;
}
.highlight .nf, .highlight .nl, .highlight .nn, .highlight .nx, .highlight .py {
  color: #cccccc;
}
.highlight .nt {
  color: orange;
}
.highlight .nv {
  color: #00cdcd;
}
.highlight .ow {
  color: #cdcd00;
}
.highlight .w {
  color: #cccccc;
}
.highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #cd00cd;
}
.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #cd0000;
}
.highlight .bp {
  color: #cd00cd;
}
.highlight .vc, .highlight .vg, .highlight .vi {
  color: #00cdcd;
}
.highlight .il {
  color: #cd00cd;
}

/* Header */
header {
  background: #222;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
}

.logo {
  max-width: 60%;
}

#menu-toggle {
  position: relative;
  color: white;
}
#menu-toggle img {
  width: 20px;
}

.menu-bars {
  left: 1rem;
}

.menu-logo {
  position: relative;
  left: 2rem;
}

input {
  border: 1px solid #000;
  color: #fff;
  font-size: 12px;
  padding: 0.5rem 1rem;
  width: 100%;
  background: url(../images/search.png) #111 no-repeat right 35px center;
  background-size: 3%;
  outline: none;
}

.notifications {
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.notifications li {
  list-style: none;
}
.notifications li:hover {
  cursor: pointer;
}
.notifications i {
  color: #bbc3ca;
  font-size: 20px;
  margin: 0rem 0.2rem;
}
.notifications span {
  border-radius: 50px;
  background-color: #0091EA;
  color: #fff;
  font-weight: 700;
  padding: 4px 9px;
  font-size: 11px;
  position: relative;
  top: -12px;
  left: -12px;
}

/* Menu-profile */
.menu-profile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
}
.menu-profile ul {
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  margin-bottom: 0px;
}

.image-profile-menu {
  width: 1rem;
}
.image-profile-menu img {
  width: 100%;
}

.log-out a {
  background: #0091EA;
  color: white;
  padding: .2rem;
  font-size: .8rem;
  font-weight: 700;
}
.log-out a:hover {
  color: white;
}

/*----------------------*/
.username {
  color: #fff;
  font-weight: 700;
}

/* header mt-6  */
.mt-6, .my-6 {
  margin-top: 6rem !important;
}

/* Tabs */
.tab {
  text-align: center;
  margin: -10px 0;
}
.tab li {
  display: inline-block;
  text-transform: uppercase;
  color: #808791;
  font-weight: 700;
  font-size: 12px;
  margin: 0 20px;
}
.tab li:hover {
  color: #0091EA;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.tab li > a {
  color: white;
}
.tab .active {
  border-bottom: 3px solid #0091EA;
  padding-bottom: 20px;
  margin-bottom: -20px;
  color: #fff;
}

/* Main Content */
details {
  font-size: 14px;
}
details > ul, details > ol {
  margin-left: 1rem;
}

caption {
  color: #fff;
  caption-side: top;
}

.main-videos h2 {
  margin: 0px 0px 0px 0px;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
}
.main-videos h2 > a {
  color: white;
}

.area {
  position: relative;
  margin-bottom: 0.5rem;
}

.duration {
  background-color: #000;
  color: #fff;
  padding: 2px 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: .2rem;
}

p.views {
  color: #343434;
}

.video p {
  margin: 0;
  padding: 0;
  color: #757a80;
  line-height: inherit;
}

.area:hover .mask {
  display: block;
  cursor: pointer;
  opacity: 100;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.mask {
  position: absolute;
  background-color: rgba(17, 17, 17, 0.5);
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
}
.mask p {
  color: #fff;
  font-weight: 700;
}
.mask i {
  color: #fff;
}

.mini {
  list-style: none;
}
.mini h4 {
  margin-top: 13px;
  font-weight: 700;
}
.mini p {
  font-size: 12px;
  margin-top: 6px;
}
.mini .duration {
  padding: 2px 5px;
}
.mini .mask p {
  display: none;
}
.mini .soumaicon.play svg {
  width: 3rem;
  height: 3rem;
}

li.mini:nth-child(2) {
  margin-bottom: 30px;
}

.video h4 {
  margin-top: 15px;
  font-weight: 400;
  text-align: center;
}

.single-channel .video p {
  margin-top: 7px;
}

/* Channel Information Section */
.channel-bio hr {
  margin: 20px 0;
}
.channel-bio p {
  text-align: justify;
}
.channel-bio .button {
  margin-top: 10px;
}

.channel-name {
  font-weight: 500;
  font-size: 16px;
}
.channel-name img {
  margin-right: 10px;
}

/* Pagination */
.page-item:first-child .page-link > span, .page-item:last-child .page-link > span {
  color: white;
}

.page-link {
  background-color: #222;
  border: 1px solid #111;
  color: #fff;
}

.page-item.disabled .page-link {
  pointer-events: none;
  cursor: auto;
  background-color: #111;
  border-color: #222;
}

.page-link:hover {
  text-decoration: none;
  background-color: #0091EA;
  border: solid 1px #026de0;
  color: #fff;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #0091EA;
  border-color: #0091EA;
}

/* Footer */
footer {
  text-align: center;
  padding: 0 0 30px;
}
footer li {
  display: inline;
  margin: 0 15px;
}
footer ul:nth-child(1) a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
footer ul:nth-child(2) {
  margin: 20px 0;
}
footer ul:nth-child(2) a {
  color: #f5f5f5;
}
footer li a:hover {
  color: #0091EA;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
footer > h4, footer > h6 {
  color: #aaa7a7;
  font-weight: 300;
}

/* Sidebar */
.title {
  color: #00A5FF;
  text-transform: uppercase;
  font-weight: 700;
}

.sidebar {
  margin-top: 0px;
  /* Adjust vertical columm with menu-bar */
}
.sidebar ul {
  margin-bottom: 5px;
  list-style: none;
}
.sidebar li {
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar a {
  color: #828c95;
  font-weight: 500;
}
.sidebar a:hover {
  color: #0091EA;
  text-decoration: none;
}
.sidebar i {
  font-size: 20px;
  margin-right: 15px;
}
.sidebar #subs img {
  margin-right: 15px;
  width: 25px;
}

#playlist p {
  font-size: 12px;
  font-weight: 300;
  margin-left: 35px;
  margin-top: -15px;
}
#playlist i {
  float: left;
}

#sidebar-wrapper {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: -10px;
  font-weight: 600;
  font-size: 14px;
  background-color: #111;
  border-right: 1px solid #dbdee0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  left: 0;
  position: fixed;
  width: 300px;
  margin-left: -300px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
#sidebar-wrapper.active {
  left: 300px;
  width: 300px;
}

#menu-close {
  padding: 7px 0;
}
#menu-close img {
  width: 10px;
}

/* Main */
h2.title-video {
  margin-left: 1rem;
}

soumaicon {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
  align-content: center;
}

/*------ play icon -------*/
.soumaicon svg {
  width: 1rem;
  height: 1rem;
  fill: currentcolor;
}
.soumaicon:hover svg {
  fill: #0091EA;
}
.soumaicon.play svg {
  width: 4rem;
  height: 4rem;
}
.soumaicon.play:hover svg {
  fill: currentcolor;
}

/*------- End play -------*/
@media only screen and (max-width: 991px) {
  .logo {
    max-width: 15%;
    margin: .5rem 0;
  }

  .menu-profile {
    -ms-flex-pack: center;
        justify-content: center;
  }

  .mt-8 {
    margin-top: 8rem !important;
  }

  .mt-10 {
    margin-top: 10rem !important;
  }
}
@media screen and (max-width: 525px) {
  .tab .active {
    border-bottom: 2px solid #0091EA;
    padding-bottom: 1px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 480px) {
  .logo {
    max-width: 20%;
  }

  .channel-bio .button {
    margin-bottom: 1rem;
  }

  ul#user-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }

  .notifications {
    position: relative;
    right: 0px;
    top: 0px;
    left: 0px;
    margin: 20px;
  }

  .ml-1 {
    margin-left: -15px !important;
  }

  .mt-8, .mt-10 {
    margin-top: 1rem !important;
  }

  .fixed-top {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
  }
}
