<!-- post footer -->
<footer class="card-content-footer mb-4">
    <span class="soumaicon text-info">
        <svg>
            <use href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/svg/master.svg#calendar" />
        </svg>
    </span>
    {% set año = article.date|strftime('%Y') %}
    {% set mes = article.date|strftime('%m') %}
    {% set nombre_mes = article.date|strftime('%B') %}
    <time class="entry-date published"
          datetime="{{ article.date.isoformat() }}" itemprop="datePublished">
        <small>
            {{ article.date|strftime('%a %-d') }}
            <a href="{{ SITEURL }}/archives/{{ año }}/{{ mes }}/"
               title="{% trans %}Artículos de {{ nombre_mes }} de {{ año }}{% endtrans %}">
                {{ nombre_mes }}
            </a>
            <a href="{{ SITEURL }}/archives/{{ año }}/"
               title="{% trans %}Artículos de {{ año }}{% endtrans %}">{{ año }}
            </a>
        </small>
    </time>

    {% if article.modified %}
        <span class="soumaicon text-info">
            <svg>
                <use href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/svg/master.svg#calendar" />
            </svg>
        </span>
        <span class="edit-link"
              title="{{ _('Fecha de modificación') }}">
            <small class="screen-reader-text">{{ _('Modificado el %(fecha)s'|format(fecha='</small>
        <time class="updated" datetime="%s"><small>%s</small></time>')|format(article.modified.isoformat(), article.locale_modified)) }}
        </span>
    {% endif %}

    {% if not HIDE_AUTHORS and article.authors %}
        <span class="soumaicon text-info">
            <svg>
                <use href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/svg/master.svg#user" />
            </svg>
        </span>
        {% for author in article.authors %}
            <small itemprop="director" itemscope itemtype="https://schema.org/Person">
                <a href="{{ SITEURL }}/{{ author.url }}"
                   title="{% trans %}Autor del artículo{% endtrans %}"
                   itemprop="name">{{ author }}</a>{% if not loop.last %}, {% endif %}
            </small>
        {% endfor %}
    {% endif %}

    {% import 'translations.html' as translations with context %}
    {% if translations.translations_for(article) %}
        <span class="soumaicon text-info">
            <svg>
                <use href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/svg/master.svg#translate" />
            </svg>
        </span>
        <small>
            {{ translations.translations_for(article) }}
        </small>
    {% else %}
    {% endif %}

</footer>
<!-- end of post footer -->
<!-- /.post-info -->
