{% extends "base.html" %}

{% block head %}
    {% block title %}
        <title>{{ _('Créditos de %(sitename)s', sitename=SITENAME) }}</title>
    {% endblock %}
    {{ super() }}
    {% block seo %}
        <meta name="description" content="{{ _('Lista de autores de %(sitename)s', sitename=SITENAME) }}"/>
        <meta name="keywords" content="{{ _('articulistas, autores, colaboradores, escritores, lista de autores') }}"/>

        <!-- OpenGraph -->
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="{{ _('Lista de autores de %(sitename)s', sitename=SITENAME) }}"/>
        <meta property="og:description" content="{{ SITESUBTITLE }}"/>
        <meta property="og:site_name" content="{{ SITENAME }}"/>

        <!-- Twitter -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="{{ _('Lista de autores de %(sitename)s', sitename=SITENAME) }}"/>
        <meta name="twitter:description" content="{{ SITESUBTITLE }}"/>
    {% endblock %}
{% endblock %}

{% block content %}
    <!-- Main -->
    <div class="row mt-6 mt-10">
        <div class="col-md-9 mx-auto text-justify">
            <!-- dinamic page content  -->
            <div class="ml-3">
                <h2>{{ _('Artículos de vídeo') }}</h2>
                <ul class="ml-3">
                    {%- for author, articles in authors|sort %}
                        <li>
                            <a href="{{ SITEURL }}/{{ author.url }}"
                               title="{% trans %}Artículos escritos por {{ author }}{% endtrans %}">{{ author }}</a>
                            ({{ articles|count }})
                        </li>
                    {% endfor %}
                </ul>

                <h2>{{ _('Programación') }}</h2>
                <ul class="ml-3">
                    <li><a href="https://www.freakspot.net/" title="{{ _('Sitio para gente Libre') }}">Jorge Maldonado Ventura</a></li>
                    <li><a href="https://heckyel.ga/" title="{{ _('Sitio web de Jesús E.') }}">Jesús E.</a></li>
                </ul>

                <h2>{{ _('Traducción') }}</h2>
                <ul class="ml-3">
                    <li><a href="https://rosenzweig.io/" title="{{ _('Sitio web de Alyssa Rosenzweig') }}">Alyssa Rosenzweig</a></li>
                    <li>Jorge Maldonado Ventura</li>
                </ul>

                <h2>{{ _('Software que usa la página') }}</h2>
                {% set software = (('https://nginx.org/', 'Nginx'),
                    ('http://babel.pocoo.org/', 'Babel'),
                    ('https://pypi.org/project/beautifulsoup4/', 'BeautifulSoup4'),
                    ('https://www.python.org/', 'Python'),
                    ('https://blog.getpelican.com/', 'Pelican'),
                    ('https://pypi.org/project/Markdown/', 'Markdown'),
                    ('https://lablibre.tuxfamily.org/pages/librejs.html', _('Algunos programas de JavaScript'),)) %}
                <ul class="ml-3">
                    {% for program in software %}
                        <li><a href="{{ program[0] }}" title="{{ _('Sitio web de %(programa)s', programa=program[1]) }}">{{ program[1] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End dinamic page content  -->
        </div>
    </div>
    <!-- End Main -->
{% endblock %}
