{% extends "base.html" %}

{% block head %}
    {% block title %}
        <title>{{ _('Artículos escritos por %(author)s en %(sitename)s', author=author, sitename=SITENAME) }}</title>
    {% endblock %}
    {{ super() }}
    {% block seo %}
        <!-- Meta Author -->
        <meta name="author" content="{{ author }}"/>
        <meta name="description" content="{{ _('Artículos escritos por %(author)s en %(sitename)s', author=author, sitename=SITENAME) }}"/>
        <meta name="keywords" content="{% trans %}articulista,artículos,author,autor {{ author }},escritor,{{ author }}{% endtrans %}"/>
        <style>
        .card-content-header {
            margin-bottom: 2rem;
        }
        </style>
    {% endblock %}
{% endblock %}

{% block menu_header %}{% endblock menu_header %}

{% block content %}
    <!-- title -->
    <div class="row">
        <div class="col-md-12 mx-auto text-justify">
            <hr>
            <h4 class="tab">{% trans %}Autor: {{ author }}{% endtrans %}</h4>
            <hr>
        </div>
    </div>
    <!-- title -->
    {{ super() }}
{% endblock %}
