{% extends "base.html" %}

{% block head %}
    {% block title %}
        <title>{{ _('Lista de categorías de %(sitename)s', sitename=SITENAME)}}</title>
    {% endblock %}
    {{ super() }}
    <meta name="description" content="{{ _('Lista de categorías de %(sitename)s', sitename=SITENAME) }}"/>
    <meta name="keywords" content="{{ _('categorías') }}">
    <style>
     .card-content-header {
         margin-bottom: 2rem;
     }
    </style>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">{{ _('Lista de categorías') }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- empty space -->
            </div>
            <div class="col-md-4">
                <ul>
                    {% for category, articles in categories %}
                        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <!-- empty space -->
            </div>
        </div>
    </div>
{% endblock %}
