{% extends "base.html" %}

{% block html_lang %}{{ page.lang }}{% endblock%}

{% block head %}
    {% block title %}
        <title>{{ page.title }} - {{SITENAME}}</title>
    {% endblock %}
    {% import 'translations.html' as translations with context %}
    {% if translations.entry_hreflang(page) %}
        {{ translations.entry_hreflang(page) }}
    {% endif %}
    {{ super() }}
    {% if page.styles %}
        {% for style in page.styles %}
            {{ style }}
        {% endfor %}
    {% endif %}
    {% block seo %}
        <!-- Meta Page -->
        <meta name="description" content="{{ SITENAME }} &ndash; {{ SITESUBTITLE }}"/>
        <meta name="author" content="{{ page.author }}"/>
        <!-- OpenGraph -->
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:description" content="{{ SITESUBTITLE }}"/>
        <meta property="og:site_name" content="{{ SITENAME }}"/>
        <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
        <!-- Twitter -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="{{ page.title }}"/>
        <meta name="twitter:description" content="{{ SITESUBTITLE }}"/>
        <meta name="twitter:url" content="{{ SITEURL }}/{{ page.url }}"/>
    {% endblock %}
{% endblock head %}

{%- block content -%}
    <!-- Main -->
    <div class="row mt-10">
        <div class="col-md-9 mx-auto text-justify">
            <!-- dinamic page content  -->
            <div class="ml-3">
                {{ page.content }}
            </div>
            <!-- End dinamic page content  -->
        </div>
    </div>
    <!-- End Main -->
{%- endblock -%}
