{% if DEFAULT_PAGINATION %}
    <nav class="mt-5">
        <ul class="pagination pagination-circle pg-red justify-content-center">

            <!-- Previous -->
            {% if articles_page.has_previous() %}
                <li class="page-item">
                    <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            <!-- /Previous -->

            {% for num in range(1, 1 + articles_paginator.num_pages) %}
                {% set print_number = False %}
                {% set dots_before = True %}
                {% if num == 1 %}
                    {% set print_number = True %}
                    {% set dots_before = False %}
                {% elif (articles_page.number - PAGINATOR_LIMIT / 2) <= num < (articles_page.number - PAGINATOR_LIMIT / 2 + 1) %}
                    {% set print_number = True %}
                    {% if num == 2 %}
                        {% set dots_before = False %}
                    {% endif %}
                {% elif (articles_page.number - PAGINATOR_LIMIT / 2 + 1) <= num <= (articles_page.number + PAGINATOR_LIMIT / 2) %}
                    {% set print_number = True %}
                    {% set dots_before = False %}
                {% elif num == articles_paginator.num_pages %}
                    {% set print_number = True %}
                    {% if (articles_page.number + PAGINATOR_LIMIT / 2) <= num <= (articles_page.number + PAGINATOR_LIMIT / 2 + 1)%}
                        {% set dots_before = False %}
                    {% endif %}
                {% endif %}
                {% if print_number %}
                    {% if dots_before %}
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                    {% endif %}
                    {% if num == articles_page.number %}
                        <li class="page-item active">
                            <a class="page-link"
                               aria-label="Page {{ num }}">{{ num }}</a>
                        </li>
                    {% else %}

                        <li class="page-item">
                            <a class="page-link" aria-label="Goto page {{ num }}"
                               href="{{ SITEURL }}/{{ articles_paginator.page(num).url }}">{{ num }}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <!-- Next -->
            {% if articles_page.has_next() %}
                <li class="page-item">
                    <a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
            <!-- /Next -->
        </ul>
    </nav>
{% endif %}
