{% extends "base.html" %}
{% block head %}
    {% block title %}<title>#{{ tag.name }} - {{SITENAME}}</title>{% endblock title %}
    {{ super() }}
    <meta name="robots" content="noindex, follow" />
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <!-- title tag -->
        <h3 class="text-center">#{{ tag }}</h3>
        <!-- /title tag -->
    </div>
    {{ super() }}
{% endblock %}
